/* chung  */

:root {
    --bgr-color-opac: #F6F6F6;
    --bgr-color: #FFFFFF;
    --btn-g-color: #1EC434;
    --btn-b-color: #01A0DC;
    --text-color: #1D1D1D;
    --text-color-opac: #686868;
    --opac-color: #949494;
    --primary-color: #FC0D46;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    --text-pink-color: #2B273C;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

input {
    outline: none;
    border: none;
    border-radius: 4px;
}

input:focus {
    box-shadow: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* btn  */

.btn {
    height: 36px;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: var(--text-color);
    background-color: white;
    display: inline-flex;
    align-items: center;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn--normal i {
    padding-right: 5px;
}

.btn.btn--normal:hover {
    color: #FFFFFF;
    opacity: 0.8;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: white;
}

.btn.btn--disable {
    cursor: default;
    filter: brightness(87%);
    color: #f7f4f4;
    background-color: #c3c3c3;
}

.btn.btn--primary:hover {
    opacity: 0.8;
}

.btn--green {
    color: #1EC434;
    font-size: 1.2rem;
}

.btn--green i {
    padding-right: 5px;
    color: #1EC434 !important;
}

.btn--green:hover {
    color: #1EC434;
    opacity: 0.8;
}

.btn--red {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.btn--red i {
    padding-right: 5px;
}

.btn--red:hover {
    color: var(--primary-color);
    opacity: 0.8;
}


.btn--bd {
    border: 1px solid #F3F3F3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes nextLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes nextRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}


@keyframes nextTop {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}


@keyframes nextBottom {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes keyxlove {
    from {
        height: 0%;
        opacity: 0;
    }

    to {
        height: 30px;
        opacity: 1;
    }
}

@keyframes growth {
    from {
        opacity: 0;
        width: 50%;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

@keyframes transLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes transRight {
    from {
        /* opacity: 0; */
        transform: translateX(100%);
        z-index: -1;
    }

    to {
        /* opacity: 1; */
        transform: translateX(0);
        z-index: 1;
    }
}

/* chung  */


/* products */

.keyxprd-link {
    display: block;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    background-color: var(--bgr-color);
    transition: 0.2s ease-in;
}

.keyxprd-link:hover {
    box-shadow: 0px 20px 25px #00000029;
    transition: 0.2s ease-in;
}

.keyxprd-i4 {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.keyxprd-i4__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    border-radius: 4px
}

.keyxprd__overlay {
    background-color: rgb(43, 39, 60, 0.5);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 200px;
    display: none;
}

.keyxprd-link:hover .keyxprd__overlay {
    display: block;
    animation: fadeIn linear 0.5s;
}

.keyxprd-view {
    background-color: rgb(0, 0, 0, 0);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 200px;
    padding: 10px 20px;
    opacity: 0;
    display: flex;
    font-size: 1.3rem;
    font-weight: 400;
    transition: 0.5s;
}

.keyxprd-view-icon {
    color: var(--bgr-color);
    margin: auto;
    font-size: 3.8rem;
}

.keyxprd-view-name {
    padding: 5px;
    color: var(--bgr-color);
}

.keyxprd-link:hover .keyxprd-view {
    opacity: 1;
    animation: nextTop linear 0.2s;
}

.keyxprd-stt {
    background-color: var(--primary-color);
    border-radius: 6px;
    height: 22px;
    line-height: 2.2rem;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
}

.keyxprd-stt__desc {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    color: var(--bgr-color);
}

.keyxprd-i4__love {
    background-color: #FC0D46;
    height: 30px;
    line-height: 3rem;
    position: absolute;
    z-index: -11;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    text-align: right;
    padding-right: 10px;
    font-size: 1.2rem;
}

.keyxprd-i4__love-icon {
    font-size: 1.2rem;
}

.keyxprd-link:hover .keyxprd-i4__love {
    animation: keyxlove ease-in 0.2s;
    z-index: 1;
}

.keyxprd-i4__love__icon--love {
    color: black;
    display: none;
}

.keyxprd-i4__love-desc {
    padding: 5px 0;
}

.keyxprd-i4__love-desc:hover .keyxprd-i4__love__icon {
    display: none;
}

.keyxprd-i4__love-desc:hover .keyxprd-i4__love__icon--love {
    display: unset;
}

.keyxprd-link:hover .keyxprd-i4__img {
    transform: scale(1.05);
}

.keyxprd-desc {
    padding: 15px 10px;
    min-height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keyxprd-star {
    display: flex;
    align-items: center;
    padding: 0 0 5px 0;
}

.keyxprd-star-bgr {
    background-color: var(--primary-color);
    border-radius: 6px;
    margin-right: 4px;
    margin-top: 4px;
    padding: 5px 5px;
}

.keyxprd-star-bgr--diss {
    background-color: #CCCCCC;
}

.keyxprd-star-bgr--half {
    background: linear-gradient(to left, #CCCCCC 50%, var(--primary-color) 50%);
}

.keyxprd-star__item {
    padding-right: 10px;
}

.keyxprd-star__icon {
    font-size: 1.8rem;
    color: var(--primary-color);
}

.keyxprd-star__icon--bgr {
    color: var(--bgr-color);
    padding: 0;
    font-size: 1.4rem;
}

.keyxprd-star-number {
    margin: 0;
    color: #6E6E6E;
    font-size: 1.8rem;
    font-weight: bold;
}

.keyxprd-star-desc {
    margin: 0;
    color: #A2A2A2;
    font-size: 1.2rem;
    font-weight: lighter;
}

.keyxprd-star-desc--bgr {
    margin-left: 10px;
}

.keyxprd-desc__content {
    font-size: 1.5rem;
    color: #404040;
    font-weight: 600;
}

.keyxprd-title {
    color: #1D1D1D;
    font-size: 1.8rem;
    font-weight: bold;
}

.keyxprd-title--primary {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.keyxprd-link:hover .keyxprd-title {
    text-decoration: underline;
}

.keyxprd-shop {
    font-size: 1.5rem;
}

.keyxprd-shop-i4 {
    display: flex;
    align-items: center;
}

.keyxprd-shop-i4-name {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: underline;
    padding: 0 5px 5px 0;
}

.keyxprd-link:hover .keyxprd-shop-i4-name {
    color: black;
}

.keyxprd-shop-i4-icon {
    color: #09DE33;
    font-size: 0.8rem;
}

.keyxprd-shop-i4-icon--diss {
    color: #CECECE;
}

.keyxprd-shop-i4-place {
    color: #404040;
    font-weight: 600;
}

/* horizontal */
.horizontal__link {
    border-radius: 4px;
    display: flex;
    box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 10%);
    transition: 0.2s;
}

.horizontal__link:hover {
    box-shadow: 0px 20px 25px #00000029;
    transition: 0.2s linear;
}

.horizontal__i4 {
    width: 240px;
    height: 180px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin: 10px;
}

.horizontal__i4-avt {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.2s linear;
}

.horizontal__link:hover .horizontal__i4-avt {
    transform: scale(1.05);
}

.horizontal__i4-love {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 10px;
    font-size: 2.4rem;
    color: #000000;
}

.horizontal__i4-love:hover {
    color: var(--primary-color);
}

.horizontal__desc {
    flex: 1;
    padding: 20px;
}

.horizontal__desc-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.horizontal__desc-top {
    margin-bottom: 30px;
}

.horizontal__desc-star-icon {
    color: var(--primary-color);
    font-size: 2.5rem;
}

.horizontal__desc-star-number {
    color: #6E6E6E;
    font-size: 2rem;
    padding: 0 5px;
}

.horizontal__desc-star-text {
    color: #A2A2A2;
    font-size: 1.8rem;
}

.horizontal__desc-title {
    color: var(--text-pink-color);
    font-size: 2.2rem;
    font-weight: 500;
}

.horizontal__desc-bot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.horizontal__desc-shop-i4 {
    margin-bottom: 15px;
}

.horizontal__desc-shop-i4-name {
    color: var(--primary-color);
    font-size: 2rem;
    text-decoration: underline;
}

.horizontal__link:hover .horizontal__desc-shop-i4-name {
    color: #000000;
}


.horizontal__desc-shop-i4-icon {
    color: #09DE33;
    font-size: 1.6rem;
    margin-left: 5px;
}

.horizontal__desc-shop-place {
    color: #404040;
    font-size: 1.8rem;
}

.horizontal__link:hover .horizontal__desc-shop-place {
    text-decoration: underline;
}

.horizontal__desc-bot-btn {
    height: 40px;
}


/* pagination  */

.pagination {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 10px 0;
}

.pagination__item {
    display: inline-block;
    padding: 10px 18px;
    margin-right: 10px;
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-pink-color);
}

.pagination__item-icon {
    font-size: 1.5rem;
    color: #000;
}

.pagination__item--disable,
.pagination__item--disable .pagination__item-icon {
    color: #CFCFCF;
}

.pagination__item--active {
    background-color: var(--primary-color);
    color: white;
}

.pagination__item:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.pagination__item:hover .pagination__item-icon {
    color: var(--primary-color);
}

.pagination__item:hover.pagination__item--active {
    color: white;
}

.pagination__item:hover.pagination__item--disable-hover {
    border: 1px solid #F3F3F3;
    color: var(--text-pink-color);
}

.jumpxpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jumpxpage__title {
    color: #B8B8B8;
    font-size: 1.5rem;
    font-weight: 600;
}

.jumpxpage__page {
    height: 100%;
}

.jumpxpage__page-input {
    width: 60px;
    height: 100%;
    padding: 0 10px;
    margin: 0 10px;
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-pink-color);
    text-align: center;
    outline: none;
}

.jumpxpage__page-btn {
    padding: 10px 18px;
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #7B7B7B;
    background-color: var(--bgr-color);
}

.jumpxpage__page-btn:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


/* // suggest  */
.suggest {
    padding: 40px 0;
}

.suggest__details-item {
    margin-bottom: 15px;
}

.suggest__header-title {
    font-size: 2.4rem;
    font-weight: bold;
    color: #000000;
    padding: 20px 0 10px 10px;
}

.suggest__header-link-block {
    display: flex;
    justify-content: flex-end;
}

.suggest__header-link {
    color: #000000;
    font-size: 1.3rem;
    text-align: right;
    padding-bottom: 5px;
}

.suggest__header-link:hover {
    text-decoration: underline;
    color: #000000;
}


/* modal  */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 1;
    position: relative;
    margin: auto;
    z-index: 4;
    animation: growth linear 0.1s;
}

.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #F7F7F7;
    border-radius: 4px;
    border: 1px solid #F3F3F3;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--primary-color) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--primary-color) transparent;
    top: 7px;
}

.select-items div,
.select-selected {
    color: #2B273C;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
}

.select-items {
    position: absolute;
    background-color: #F7F7F7;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #F3F3F3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.select-items::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.select-items::-webkit-scrollbar {
    width: 2px;
    border-radius: 4px;
}

.select-items::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 4px;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}



/* header  */
.index {
    padding: 0;
    background-color: var(--wh);
}

.header__exten {
    background-color: var(--bgr-color-opac);
}

.header__exten--gbr {
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.header__exten-frame {
    display: flex;
    align-items: center;
}


.header__exten-frame-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header__exten-frame-item-link {
    padding: 0 10px;
}

.header__exten-frame-item-icon {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-right: 2px;
}

.header__exten-frame-item-name {
    font-size: 1.2rem;
    font-weight: 300;
    color: #979797;
}


.header__exten-frame-item-link:hover .header__exten-frame-item-name {
    text-decoration: underline;
}
/* header  */

/* header banel  */

.header__banel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__banel-find {
    background-color: var(--primary-color);
    height: 36px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    position: relative;
}

.header__banel-find-input {
    flex: 1;
    outline: none;
    border: none;
    margin: 2px;
    color: var(--text-color);
    font-size: 1.4rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    padding-left: 40px;
}

.header__banel-find-input::placeholder {
    color: #C1C1C1;
}

.header__banel-find-icon {
    content: "";
    color: #FC0D46;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
}

/* history */

.header__banel-wrap {
    position: absolute;
    z-index: 3;
    top: 100%;
    width: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    display: none;
    border: 1px solid #E8E8E8;
}

.header__banel-wrap-block {
    border-bottom: 1px solid rgb(226, 225, 225);
}

.header__banel-wrap-block--no-bb {
    border-bottom: none;
}

.header__banel-wrap-block-title {
    padding: 10px 15px 5px 15px;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: normal;
}

.header__banel-wrap-block-list {
    padding-left: 0;
}

.header__banel-wrap-block-item-link {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    font-weight: normal;
    font-size: 1.4rem;
    align-items: center;
    padding: 5px 15px;
}

.header__banel-wrap-block-item-link:hover {
    background-color: rgb(235, 236, 236);
}

.header__banel-wrap-block-item-icon {
    padding-right: 10px;
}

.header__banel-wrap-block-item-name {
    flex: 1;
}

.header__banel-wrap-block-item-img {
    height: 40px;
    width: 40px;
    padding-right: 5px;
}

.header__banel-wrap-block-item-link--block:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0);
}

.header__banel-find-input:focus~.header__banel-wrap {
    display: block;
}


/* mxh  */
.header__banel-mxh-list {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.header__banel-mxh-item-link {
    border: 1px dashed #F3F3F3;
    display: block;
    text-align: center;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 3px;
    position: relative;
}

.header__banel-mxh-item-mess {
    height: 26px;
    width: 170px;
    color: var(--bgr-color);
    font-size: 1.2rem;
    line-height: 2.6rem;
    font-weight: normal;
    background-color: var(--text-pink-color);
    margin-bottom: 6px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 4px);
    right: 50%;
    transform: translateX(50%);
    display: none;
}

.header__banel-mxh-item-mess-hot {
    font-weight: bold;
}

.header__banel-mxh-item-mess::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translatex(50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid var(--text-pink-color)
}

.header__banel-mxh-item-link:hover {
    border: 1px solid #FC0D46;
}

.header__banel-mxh-item-link:hover .header__banel-mxh-item-mess {
    display: block;
}

.header__banel-mxh-item-icon {
    font-size: 1.7rem;
    color: #FF0000;
}

.header__banel-mxh-item-icon--blue {
    color: #3A5794;
}

.header__banel-mxh-item-name {
    color: #B4B4B4;
    font-size: 1.2rem;
    margin: 0;
}

.header__banel-btn {
    font-size: 1.4rem;
    color: #FFFFFF;
}

.header__banel-btn-icon {
    padding-right: 5px;
}

.header__banel-btn-name {
    margin-bottom: 2px;
}

/* header nav  */
.header__nav {
    background-color: var(--primary-color);
    height: 45px;
}

.header__nav-content {
    height: 100%;
    display: flex;
}

.header__nav-content-list {
    padding-left: 0;
    margin: 0;
}

.header__nav-content-item {
    display: inline-block;
    height: 100%;
    position: relative;
}

.header__nav-content-item-link {
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    position: relative;
}

.header__nav-content-item-link--no {
    padding: 0 20px;
}

.header__nav-content-item-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    display: none;
}

.header__nav-content-item:hover .header__nav-content-item-link {
    background-color: #E60138;
    color: white;
    text-decoration: underline;
}

.header__nav-content-item:hover .header__nav-content-item-link--no {
    text-decoration: none;
}

.header__nav-content-item:hover .header__nav-content-item-link::after {
    display: block;
}

.header__nav-content-item:hover .header__nav-content-item-link--no.header__nav-content-item-link::after {
    display: none;
}

.header__nav-content-item-icon {
    font-size: 1.8rem;
}


/* nav son  */

.header__nav-son {
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 500px;
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #F3F3F3;
    display: none;
}


.header__nav-son--center {
    left: 50%;
    transform: translateX(-50%);
}

.header__nav-son--right {
    right: 0;
}

.header__nav-son-list {
    padding-left: 0;
}

.header__nav-son-item-link {
    display: block;
    padding: 10px;
    font-size: 1.4rem;
    color: #707070;
    font-weight: regular;
}


.header__nav-son-item-link:hover {
    color: var(--primary-color);
}

.header__nav-son-item-icon {
    padding-right: 5px;
}

.header__nav-content-item:hover .header__nav-son {
    display: block;
}

.header__nav-m-control {
    color: var(--primary-color);
    padding: 0 10px;
    display: none;
}

.header__nav-m-control-icon {
    font-size: 2.2rem;
}

.header__imformation-link {
    color: var(--primary-color);
    display: none;
    padding: 0 10px;
}

.header__imformation-link-icon {
    font-size: 2rem;
}

.header__nav-m-content-close {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 5;
}

.header__nav-m-content-close-icon {
    font-size: 2rem;
    color: var(--primary-color);
}


.header__nav-m-content {
    position: fixed;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    max-width: 100%;
    background-color: var(--bgr-color);
    animation: transLeft ease-in 0.5s;
    display: none;
}

.header__nav-m-content-list {
    padding-left: 0;
    margin-bottom: 0;
}

.header__nav-m-content-item {
    text-align: center;

}

.header__nav-m-content-logo {
    text-align: center;
    padding: 10px 0;
}


.header__nav-m-content-item-link {
    padding: 15px 100px;
    margin: 10px 4px;
    color: var(--text-pink-color);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    display: inline-block;
}

.header__nav-m-content-item-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    display: block;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.header__nav-m-content-item-link:hover::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.header__nav-m-content-item-link:hover {
    color: var(--primary-color);
}

.header__nav-m-son-list {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    display: none;
    padding: 0 20px;
    animation: transRight ease-in 0.5s;
    background-color: var(--bgr-color);
}

.header__nav__son {
    position: absolute;
    top: 10px;
    right: 10px;
}

.header__nav__son__id:checked~.header__nav-m-son-list {
    display: block;
}

.header__nav-m-son-link {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-pink-color);
    display: block;
    padding: 10px 100px;
    position: relative;
}

.header__nav-m-son-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    display: block;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.header__nav-m-son-link:hover::before {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.header__nav-m-son-link:hover {
    color: var(--primary-color);
}

.header__nav-m-check:checked~.modal {
    display: flex;
}

.header__nav-m-check:checked~.modal__overlay {
    display: flex;
}

.header__nav-m-check:checked~.header__nav-m-content {
    display: block;
}

.header__banel-find-m {
    padding: 10px 0;
    display: none;
    border-top: 1px solid #EEEEEE;
    position: relative;
}

.header__banel-find-m-input {
    outline: none;
    flex: 1;
    margin-right: 5px;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 0 10px;
}

.header__banel-find-m-btn {
    text-align: center;
}

.header__banel-find-m-btn i {
    display: block;
    font-size: 1.2rem;
}

.header__banel-find-m-input:focus~.header__banel-wrap {
    display: block;
}


/* footer top  */
.footer__top-border {
    border-bottom: 2px solid #EEEEEE;
    padding: 30px 0;
}

.footer__top {
    /* padding: 30px 0; */
}

.footer__top-item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer__top-item-link {
    font-size: 1.5rem;
    font-weight: 400;
    color: #6B6B6B;
}

.footer__top-item-link-hot {
    color: var(--primary-color);
    font-weight: bold;
}

.footer__top-item-link:hover {
    opacity: 0.8;
    color: #6B6B6B;
    text-decoration: underline;
}

/* footer details  */
.footer__details {
    padding: 30px 0;
    border-bottom: 1px solid #EEEEEE;
}

.footer__details-item-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__details-item-desc {
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: #6B6B6B;
    text-align: center;
}


.footer__details-li--title {
    color: #565656;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
}

.footer__details-ul {
    padding-left: 0;
}

.footer__details-li-link {
    font-size: 1.4rem;
    color: #6B6B6B;
    font-weight: 400;
    display: block;
    padding: 5px 0;
}

.footer__details-li-link:hover {
    color: #6B6B6B;
    opacity: 0.8;
    text-decoration: underline;
}

/* footer end  */
.footer__end {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.footer__end-desc {
    font-size: 1.2rem;
    color: #C1C1C1;
    font-weight: 400;
}

.footer__end-love {
    font-size: 1.2rem;
    color: #8B8B8B;
    font-weight: 400;
    text-align: right;
}

.footer__end-love-icon {
    color: var(--primary-color);
}

.active__tab-title {
    text-align: center;
    color: var(--text-pink-color);
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.active__tab-title-hot {
    color: #FC0D46;
    font-size: 2.4rem;
}

.active__tab-nav {
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
}

.active__tab-nav .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease;
}

.active__tab-item {
    padding: 12px 20px 12px 20px;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: var(--text-pink-color);
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 0.5s ease;
}

.active__tab-icon {
    font-size: 2.4rem;
    width: 32px;
    position: relative;
    top: 2px;
}

.active__tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.active__tab-item.active {
    opacity: 1;
}

.active__tab-content {
    padding: 0;
}

.active__tab-pane {
    color: #333;
    display: none;
}

.active__tab-pane.active {
    display: block;
}

.active__tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}


/* path on page  */
.all__path {
    border-bottom: 1px solid #F2F2F2;
    height: 30px;
}

.all__path-block {
    height: 30px;
    background-color: var(--bgr-color);
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    height: 100%;
    line-height: 3rem;
}

.all__path-item {
    overflow: hidden;
    position: relative;
    color: #9B9B9B;
    font-size: 1.3rem;
    font-weight: 400;
    padding-right: 20px;
    margin-right: 10px;
}

.all__path-item::after,
.all__path-item::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 30px;
    background-color: #F2F2F2;
}

.all__path-item::before {
    bottom: -1px;
    transform: rotate(30deg);
}

.all__path-item::after {
    top: -1px;
    transform: rotate(-30deg);
}

.all__path-item-link {
    color: #9B9B9B;
}

.all__path-item-link:hover {
    color: #9B9B9B;
    text-decoration: underline;
}

.all__path-item-title {
    color: #000000;
    font-weight: bold;
}

/* rating star  */
#half-stars-example {
    display: flex;
    align-items: center;
}
#half-stars-example .rating-group {
    display: inline-flex;
}
#half-stars-example .rating__icon {
    pointer-events: none;
}
#half-stars-example .rating__input {
    position: absolute !important;
    left: -9999px !important;
}
#half-stars-example .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}
#half-stars-example .rating__label--half {
    padding-right: 0;
    margin-right: -24px;
    z-index: 2;
}
#half-stars-example .rating__icon--star {
    color: var(--primary-color);
}
#half-stars-example .rating__icon--none {
    color: #eee;
}
#half-stars-example .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
}
#half-stars-example .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}
#half-stars-example .rating-group:hover .rating__label .rating__icon--star, 
#half-stars-example .rating-group:hover .rating__label--half .rating__icon--star {
    color: var(--primary-color);
}
#half-stars-example .rating__input:hover ~ .rating__label .rating__icon--star, 
#half-stars-example .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
}
#half-stars-example .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
}
#half-stars-example .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
}
#half-stars-example .rating__desc {
    margin-left: 10px;
    font-size: 1.4rem;
    color: var(--text-pink-color);
}
/* rating star 2  */
#half-stars-example2 {
    display: flex;
    align-items: center;
}
#half-stars-example2 .rating-group {
    display: inline-flex;
}
#half-stars-example2 .rating__icon {
    pointer-events: none;
}
#half-stars-example2 .rating__input {
    position: absolute !important;
    left: -9999px !important;
}
#half-stars-example2 .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}
#half-stars-example2 .rating__label--half {
    padding-right: 0;
    margin-right: -24px;
    z-index: 2;
}
#half-stars-example2 .rating__icon--star {
    color: var(--primary-color);
}
#half-stars-example2 .rating__icon--none {
    color: #eee;
}
#half-stars-example2 .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
}
#half-stars-example2 .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
}
#half-stars-example2 .rating-group:hover .rating__label .rating__icon--star, 
#half-stars-example2 .rating-group:hover .rating__label--half .rating__icon--star {
    color: var(--primary-color);
}
#half-stars-example2 .rating__input:hover ~ .rating__label .rating__icon--star, 
#half-stars-example2 .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd;
}
#half-stars-example2 .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
}
#half-stars-example2 .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
}
#half-stars-example2 .rating__desc {
    margin-left: 10px;
    font-size: 1.4rem;
    color: var(--text-pink-color);
}

.form-message {
    color: var(--primary-color);
    font-size: 1.2rem;
}

.form-control{
    color: var(--text-pink-color);
    font-size: 1.5rem;
    font-weight: 400;
    border: 1px solid #E2E2E2;
}

.form-control::placeholder {
    color: #CCCCCC;
    font-size: 1.5rem;
    font-weight: 400;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--primary-color);
}


/* mobile  & tablet*/
@media (max-width: 63.9375em) {
    
    
}

/* tablet  */
@media (min-width: 46.1875em) and (max-width: 63.9375em) {
    #half-stars-example .rating__label {
        cursor: pointer;
        padding: 0 0.2em;
        font-size: 1.6rem;
    }

    .keyxprd-i4 {
        height: 160px;
    }

    .pagination {
        justify-content: flex-end;
    }

    .pagination__item {
        margin-right: 0;
        margin-left: 10px;
    }
}
/* mobi  */
@media (max-width: 46.1875em) {

}