.search {

}
.search__path {
    border-bottom: 1px solid #F2F2F2;
    height: 30px;
}
.search__path-block {
    height: 30px;
    background-color: var(--bgr-color);
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    height: 100%;
    line-height: 3rem;


}

.search__path-item {
    overflow: hidden;
    position: relative;
    color: #9B9B9B;
    font-size: 1.3rem;
    font-weight: 400;
    padding-right: 20px;
    margin-right: 10px;
}

.search__path-item::after, .search__path-item::before {
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    height: 30px;
    background-color: #F2F2F2;
}

.search__path-item::before {
    bottom: -1px;
    transform: rotate(30deg);
}

.search__path-item::after {
    top: -1px;
    transform: rotate(-30deg);
}

.search__path-item-link {
    color: #9B9B9B;
    text-decoration: none;
    padding-left: 5px;
}

.search__path-item-link:hover {
    color: #9B9B9B;
    text-decoration: underline;
}

.search__path-item-title {
    color: #000000;
    font-weight: bold;
}


.search__title {
    color: #000000;
    font-size: 2.1rem;
    font-weight: bold;
    padding: 30px 10px;
}

.search__details {
    
}
.search__details-list {
    
}
.search__details-item {
    margin-bottom: 15px;
}

/* .search__details-page {

}
.search__details-page-list {
    padding-left: 0;
    display: flex;
}
.search__details-page-item {
    list-style: none;
}
.search__details-page-item-link {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    margin-right: 10px;
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    font-size: 1.5rem;
    color: var(--text-pink-color);
}
.search__details-page-item-icon-left{
    padding-right: 5px;
}
.search__details-page-item-icon-right{
    padding-left: 5px;
}
.search__details-page-item-link--diss {
    color: #CFCFCF;
}
.earch__details-page-item-link--active {
    background-color: var(--primary-color);
    color: white;
}
.search__details-page-item-link:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

}
.earch__details-page-item-link--active:hover {
    color: white;
}
.search__details-list {

}
.search__details-item {
    position: relative;
    margin-bottom: 15px;
} */